*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: blue;
    text-align: center;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-container{
    display: inline;
    position: relative;
}
.dropdown-centent{
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: blue;
    text-align: left;
    min-width: 100px;
    display: none;
}
.dropdown-centent a{
    display: block;
}
