/* body{
    background-image: url("../career2.avif");
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* navbar */
nav{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    background-color: black;
    /* padding: 10px 20px; */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > a {
    cursor: pointer;
}

/* Dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 10px 15px;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}    

nav > i{
    color: white;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;

}
nav > i:hover{
    background-color: red;
    color: white;
}
 /* book a ticket section  */
.ticket-section{
    height: 700px;
    width: 100%;
    background-color: black;
    color: white;
}





/* contact section */
.contact-header{
    text-align: center;
    
}

.contact-header > h1{
    letter-spacing: 2px;
    padding: 10px 0 3px 0;
}
.contact-header > p{
    padding: 5px 0 15px 0;
}
.contact-details{
    display: flex;
    justify-content: center;
    
}
.contact-info{
    display: grid;
}
.contact-info > p > i{
    padding: 5px;

}
.contact-info, .form-section {
    padding: 10px;

}


.form-section > form{
    display: grid;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.form-section > form > button{
    background-color: black;
    color: white;
    padding: 10px 15px;
    width: 100px;

}





.responsive-image {
    width: 100%; 
    height: auto;
    display: block;
    transition: all 0.3s ease-in-out; 
}


              /* footer */
footer{
    height: 200px;
    width: 100%;
    color: black;
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

footer .social-icons{
    padding: 2px;

}
footer > .social-icons > a{
    color: black;
}
footer > .social-icons > a:hover{
    color: grey;
}
